.card {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 1px 9px 1px #a7a7a7;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans serif;
  height: 340px;
  margin: 5px;
  padding: 18px 23px;
  width: 250px;
}

.selected { 
  background: #008bc5cc;
  color: white;
  text-shadow: 2px 1px 5px #0000002e;
}

.selected .greater-than {
  color: #000;
}

ul {
  list-style-type: none;
  margin-top: 6px;
  padding: 0;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}

.greater-than {
  font-weight: bold;
  color: #008bc5;
}
