@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.search {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 500px;
}

p {
  margin-right: 5px;
}

input {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: inset 2px 2px 1px 0px #ababab;
  font-family: 'Open Sans', "FontAwesome", sans-serif;
  padding: 5px;
  text-align: center;
  width: 400px;
}
