@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

.main {
  background-color: #f7f7f7;
}

header {
  align-items: center;
  background-color: #008bc5;
  display: flex;
  justify-content: center;
  height: 121px;
}

h1 {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
}

